div {
    border-style: solid;
    border-width: 1px;
}

.header {
    height: 200px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('../images/dndheader.png');
}

.wrapper {
    background-color: #bdd5ea;
    margin: auto;
    width: 70%;
    height: 100%;
}

.majorPage {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dm {
    background-image: url('../images/mercer.jpg');
}

.players {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('../images/dndplayers.jpg');
}

.inperson {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('../images/inperson.jpg');
}

.online {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('../images/onlineplay.jpg');
}

.pageTypeText {
    margin: 10px;
}

.majorHeader {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
}

.majorLink {
    text-decoration: none;
    color: black;
}

.subtext {
    font-style: italic;
    margin: 10px;
}

h1 {
    margin: 10px;
}

h2 {
    color: white;
}

body {
    background-color: #495867;
}