body {
    background: linear-gradient(0deg, rgba(245, 245, 245, 0.3), rgba(51, 51, 51, 0.3)), url('../images/avernus.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.header {
    height: 300px;
    background-image: url('../images/dndheader.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.titletext {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7500);
    text-align: left;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.7500);
    margin: auto;
    width: 70%;
    height: max-content;
    border: solid 10px;
    border-radius: 10px;
}

.majorPage {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dm {
    background-image: url('../images/mercer.jpg');
}

.players {
    background-image: url('../images/dndplayers.jpg');
}

.inperson {
    background-image: url('../images/inperson.jpg');
}

.online {
    background-image: url('../images/onlineplay.jpg');
}

.pageTypeText {
    margin: 10px;
}

.majorHeader {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7500);
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.majorLink {
    text-decoration: none;
    color: black;
}

.subtext {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 10px;
}

h1 {
    font-size: 60px;
}

h1,
h2,
h3,
.subtext {
    margin: 10px;
    color: white;
    font-family: 'Carter One', serif, cursive;
}

body {
    background-color: #495867;
}

.resource {
    background-color: rgba(0, 0, 0, 0.500);
    border-top: solid 10px;
}

.resourceText {
    width: 60%;
    float: left;
    color: white;
    margin: 20px
}

.resourceTextRight {
    float: right;
}

.resourceDetails {
    padding: 10px;
    color: white;
}

.resourceImage {
    width: 35%;
    height: 400px;
}

.navigation {
    width: max-content;
    margin: 0 auto;
}

.navigationItem {
    float: left;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
}